<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">RIMS</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="items">Inventory <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="items">
              <li><%= link_to 'All Items', items_path %></li>
              <li><%= link_to 'New Item', new_item_path %></li>
            </ul>
          </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="items">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="items">

            <li><% if user_signed_in? %>
              <strong>&nbsp;<%= current_user.email %></strong>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      </div>
    </div>
  </div>
  </div>
</div>
<br><br>
