<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => 'Item Name'%><br>
    <%= f.text_area :description, :rows => 10, :placeholder => 'Item Description'%><br>
    <%= f.text_field :product_model_number, :placeholder => 'Product Model Number' %><br>
    <%= f.text_field :vendor, :placeholder => 'Vendor' %><br>
    <%= f.text_field :part_number, :placeholder => 'Part Number' %><br>
    <%= f.text_field :quantity, :placeholder => 'Quantity' %><br>
    <%= f.text_field :url, :placeholder => 'Vendor URL' %><br>
    <%= f.text_field :location, :placeholder => 'Storage Location' %><br>
    <%= f.label :unit_value %>
    <%= f.text_field :unit_value, :placeholder => 'Unit Value' %><br>
    <%= f.select :category, [ 'Arduino', 'BeagleBone', 'Raspberry Pi' ], :prompt => 'Select A Category' %>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.submit "Create Item",  :class => "btn  btn-primary" %>
  </div>
<% end %>
