<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
        <td><b>Product Name:</b></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><b>Description:</b></td>
        <td><%= f.text_area :description, :rows => 10 %></td>
      </tr>

      <tr>
        <td><b>Product Model Number:</b></td>
        <td><%= f.text_field :product_model_number %></td>
      </tr>

      <tr>
        <td><b>Product Vendor:</b></td>
        <td><%= f.text_field :vendor_name %></td>
      </tr>

      <tr>
        <td><b>Vendor Part Number:</b></td>
        <td><%= f.text_field :vendor_part_number %></td>
      </tr>

      <tr>
        <td><b>Quantity:</b></td>
        <td><%= f.text_field :quantity %></td>
      </tr>

      <tr>
        <td><b>Vendor URL:</b></td>
        <td><%= f.text_field :vendor_url %></td>
      </tr>

      <tr>
        <td><b>Storage Location:</b></td>
        <td><%= f.text_field :location %></td>
      </tr>

      <tr>
        <td><b>Unit Value:</b></td>
        <td><%= f.text_field :unit_value %></td>
      </tr>

      <tr>
        <td><b>Category:</b></td>
        <td><%= f.select :category, [ 'Arduino', 'BeagleBone', 'Raspberry Pi' ] %></td>
      </tr>

      <tr>
        <td><b>Product Photo:</b></td>
        <td><%= f.file_field :picture %></td>
      </tr>

    </table>

  </div>

  <div class="actions">
    <%= f.submit "Create Item",  :class => "btn  btn-primary" %>
  </div>

<% end %>
