<h3>Items in Inventory</h3>
<div class="row">
  <table class="table table-striped">
    <th>Item Name</th>
    <th><center>Model</center></th>
    <th><center>Quantity</center></th>
    <th><center>Vendor</center></th>
    <th><center>Location</center></th>
    <th><center>Edit/Delete</center></th>

    <% @items.each do |item| %>
    <tr>
    <td><%= link_to item.name, item %></td>
    <td><center><%= item.product_model_number %></center></td>
    <td><center><%= item.quantity %></center></td>
    <td><center><%= item.vendor %></center></td>
    <td><center><%= item.location %></center></td>
    <td><center><%= link_to '', edit_item_path(item), :class=>"fa fa-edit" %> |  <%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), item, data: {confirm: 'Are you sure you want to delete this item?'}, method: :delete %></center>
</td>
    </tr>
    <% end -%>

  </table>
</div>
