<% if user_signed_in? %>
<%= current_user.email %>
<% else %>
<%= link_to "Sign in", new_user_session_path %><br />
<%= link_to "Opret", new_user_session_path %><br />
<% end %>

<h1>New item</h1>

<%= render 'form' %>

<%= link_to 'Back', items_path %>
