<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
<strong>Items in <%= @location.name %> </strong>

<ul>
<% @items.each do |i| %>
<li><%= i.name %> </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
