<!DOCTYPE html>
<html>
<head>
  <title>RIMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
<%= render partial: 'shared/header' %>

<div class="container">
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

  <%= yield %>
</div>

<%= render partial: 'shared/footer' %>

</div>
</body>
</html>
